<nav class="navbar navbar-expand-lg navbar-dark p-0">
    <div class="container-fluid navtainer" style="max-width: 1320px;">
      
      <a class="navbar-brand" routerLink="" style="color: white; text-transform: uppercase; letter-spacing: 0.2em; white-space: initial; word-break: keep-all; ">Austin Ford | Game Designer | 3D Artist</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="game design" routerLinkActive="active-link">Game Design</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="3d design" routerLinkActive="active-link">3D Design</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about" routerLinkActive="active-link">About Me</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>