<!-- footer container with a max width for screen size -->
<div class="container-fluid footer" style="max-width: 1320px;">
    <!-- horizontal line that seperates the content and the footer -->
    <hr style="width:100%; border: 0;border-top: 2px solid black;">
    <!-- <div class="row">
        <div class="col-lg-12">
            <div class="row"> -->
                <!-- spacer -->
                <!-- <div class="col-lg-2"></div> -->
                <!-- home links -->
               <!--  <div class="col-lg-3">
                    <a href="https://sketchfab.com/samanthacford" target="_blank"><i class="bi bi-box" style="font-size: 40px;"></i></a>
                    <ul style="list-style-type: none; padding: 0;">
                        <li><a routerLink="">Home</a></li>
                    </ul>                    
                </div> -->
                <!-- game design links -->
                <!-- <div class="col-lg-3">
                <a href="https://www.instagram.com/samanthacforddesign/" target="_blank"><i class="bi bi-instagram" style="font-size: 40px;"></i></a>
                    <ul style="list-style-type: none; padding: 0;">
                        <li><a routerLink="game design">Game Design</a></li>
                        <li><a routerLink="basezero">Base Zero</a></li>
                        <li><a routerLink="ud4demo">Unreal Demo 4</a></li>
                        <li><a routerLink="justforce">Just Force</a></li>
                        <li><a routerLink="asteroids">Asteroids</a></li>
                        <li><a routerLink="airbornerun">Airborne Run</a></li>
                        <li><a routerLink="cgameengine">C++ Game Engine</a></li>
                    </ul>     
                </div> -->
                <!-- 3d design links -->
               <!--  <div class="col-lg-3">
                    <a href="https://www.linkedin.com/in/austin-ford-322bb6105/" target="_blank"><i class="bi bi-linkedin" style="font-size: 40px;"></i></a>
                    
                    <ul style="list-style-type: none; padding: 0;">
                        <li><a routerLink="3d design">3D Design</a></li>
                    </ul>     
                </div> -->
                <!-- about me links -->
               <!--  <div class="col-lg-3">
                    <a href="mailto:samanthacforddesign@gmail.com"><i class="bi bi-envelope" style="font-size: 40px;"></i></a>
                    <ul style="list-style-type: none; padding: 0;">
                        <li><a routerLink="about">About Me</a></li>
                    </ul>     
                </div> -->
                <!-- social links -->
                <!-- <div class="col-lg-2">
                    <ul style="list-style-type: none; padding: 0;">
                        <li><a href="https://sketchfab.com/austincford" target="_blank"><i class="bi bi-box" style="font-size: 40px;"></i></a><a href="https://www.instagram.com/samanthacforddesign/" target="_blank"><i class="bi bi-instagram" style="font-size: 40px;"></i></a></li>
                        <li class="pt-2"><a href="https://www.linkedin.com/in/austin-ford-322bb6105/" target="_blank"><i class="bi bi-linkedin" style="font-size: 40px;"></i></a><a href="mailto:samanthacforddesign@gmail.com"><i class="bi bi-envelope" style="font-size: 40px;"></i></a></li>
                        <li></li>
                    </ul>     
                </div> -->
                <!-- spacer -->
                <!-- <div class="col-lg-2"></div>
            </div> 
        </div>
    </div>
</div>  -->