<div class="container">
    <div class="row pt-4">
        <div class="col-lg-7">
            <app-carousel-element inputIndex="0"></app-carousel-element>
        </div>
        <div class="col-lg-5">
            <app-carousel-bio-element gameTitle="Base Zero"
                gameRole="ROLE: TEAM LEAD / LEAD GAME DESIGNER / PROGRAMMER / LEAD ARTIST"
                gameDesc="Base Zero is a 3D first-person shooter made in the Unity engine using C#. As the team lead, I took on the role of organizer, lead programmer, artist, and game designer to guide myself and 3 team members through the development cycle of our game. I coordinated schedules and kept the team on track for deadlines and project objectives. I restructured goals as the project continued and worked with the team to solve any problems encountered along the way. I designed many of the game’s major gameplay features and even programmed a few such as player inventory, a shop for the player to buy gear and randomized enemy equipment. Also as our team’s artist, I created and textured all of the 3D assets we used for the game in addition to my other contributions to the project. I created animations for the player’s weapons and attached pre-made animations assets to the enemy models I created."
                destination="/game design"></app-carousel-bio-element>
        </div>
    </div>
</div>