<div class="container">
    <div class="row pt-4">
        <div class="col-lg-7">
            <app-carousel-element inputIndex="5"></app-carousel-element>
        </div>
        <div class="col-lg-5">
            <app-carousel-bio-element gameTitle="C++ Game Engine" gameRole="ROLE: SOLO DEVELOPER"
                gameDesc="A basic game engine coded in C++ and OpenGL, with glfw, glm and freeimage for handling the graphic rendering, math and texture loading. The engine features important core elements for game creation including camera objects, model loading, texture loading, lighting, collisions and even a skybox. Additional features added to improve the capabilities of the engine include using pointers to store references to models and textures for each gameobject. The ability to load in model and texture files from a text file that stores the filename and object. Lastly the ability to load in levels from another text file, the file stores the model name, texture name, position, rotation and if the object is able to be collided with. The demo itself showcases most of these elements and even has a particle system used at the end by the bonfire."
                destination="/game design"></app-carousel-bio-element>
        </div>
    </div>
</div>