<div class="container">
    <div class="row pt-4">
        <div class="col-lg-7">
            <app-carousel-element inputIndex="3"></app-carousel-element>
        </div>
        <div class="col-lg-5">
            <app-carousel-bio-element gameTitle="Asteroids" gameRole="ROLE: SOLO DEVELOPER"
                gameDesc="A recreation of the classic game Asteroids made in the Unity Engine this time. The game plays the same way as the original asteroids, an endless survival as the player breaks asteroids. I coded player wrapping around the sides of the screen using trigger boxes and circle collision for the game entities programmed using squared distances to improve performance. The art assets were all recreated with some new asteroid types and the ability to overlay colors on them during gameplay. This feature is what allows the main feature of this project color lerping through the rainbow."
                destination="/game design"></app-carousel-bio-element>
        </div>
    </div>
</div>