<div class="container">
    <div style="overflow:auto;" class="row pt-4">
        <div class="col-lg-12">
            <h1 style="text-align: center; font-weight: 900;">About Me</h1>
            <hr style="width:100%; border: 0;border-top: 2px solid black;">
        </div>
    </div>
    <div style="overflow: auto;" class="row">
        <div class="col-lg-4">
            <img src="../../../assets/images/linkedinphoto.jpg" style="border-radius: 50%; object-fit: cover;"
                class="d-block h-75 w-100">
        </div>
        <div class="col-lg-8" style="column-count: 2;">
            <p style="text-indent: 40px;">My name is Austin C. Ford, thanks for stopping by! Games of every kind have been my #1 passion for as
                long as I can remember and learning how to make them for the past 10 years has been so much fun. I’ve
                taken to pretty much every aspect of making games, from coding gameplay mechanics, designing stories,
                and crafting 3D assets.</p>

            <p style="text-indent: 40px;">I’ve spent the past 8 years of my game development career working primarily in Unity, and I am most
                comfortable programming in C# (although I’m no stranger to other languages as well). I’ve worked on
                projects alone, as part of a team, and led a team of software engineering students for a period of
                several months. I’ve also worked with Unreal Engine 4 to create a few tech demos and projects to test
                Unreal’s scene creation, animation pipeline, and blueprint system.</p>

            <p style="text-indent: 40px;">My other passion, closely related to games, is 3D design and modeling. Autodesk Maya has been my software
                of choice, and I’ve been using it for about 6 years. My style of choice is low poly but highly detailed
                objects. I have been an artist on multiple projects for both school and personal work, and create free
                3D models with Creative Commons Attribution for people to download and use.</p>

            <p style="text-indent: 40px;">Besides playing and making games, I love to watch movies, woodwork, bake, and practice my photography as
                I walk around town or hike in the woods of upstate NY. I enjoy interests and hobbies that I not only
                love by themselves, but have helped me to develop as a digital creator and problem solver.</p>
        </div>
    </div>
    <div style="overflow:auto;" class="row">
        <div class="col-lg-12">
            <h1 style="text-align: center; font-weight: 900;">Resumé</h1>
            <hr style="width:100%; border: 0;border-top: 2px solid black;">
        </div>
    </div>
    <div style="overflow:auto;" class="row">
        <div class="col-lg-6 resume-text">
            <h1 style="font-weight: 900;">Austin Ford</h1>
        </div>
        <div class="col-lg-6 resume-text">

            <div style="text-align: right;"><a href="../../../assets/images/AustinFord_Resume.pdf" download=""><button
                        type="button" class="btn btn-outline-success resume-button">Download PDF</button></a></div>
        </div>
        <div style="overflow:auto;" class="row">
            <div class="col-lg-12 resume-text">
                <h2>Game Developer / Software Engineer</h2>
                <p >(914) 419-8970</p>
                <p >aflakeplacid@gmail.com</p>

                <h2>EDUCATION</h2>
                <h3>Rochester Institute of Technology</h3>
                <p >Bachelor of Science in Game Design and Development AUGUST 2015 - MAY 2019</p>
                <h2>SKILLS</h2>
                <h3>Programming Languages</h3>
                <p >C#, C++, Java, JavaScript, HTML5 & CSS, Python</p>
                <h3>Development Software</h3>
                <p >Unity, Git, Unreal 4, Microsoft Office, Google Suite, Visual Studio, VS Code</p>
                <h3>Other Software</h3>
                <p >Autodesk Maya, Photoshop, Audacity, TargetProcess, JIRA, Rally</p>
                <h2>EXPIERENCE</h2>
                <h3>RIT Center For Detectors - Lab Assistant / Software Engineer</h3>
                <p >MAY 2018 - APRIL 2019</p>
                <ul>
                    <li>Worked as a software engineer on the Engineering Verification Test project which
                        validated functionality and gauged performance of various circuit designs. I was in charge
                        of documenting, updating, and organizing some of our code base which was primarily
                        written in Python.</li>
                    <li>Aided in the development of code that facilitated communication between the custom
                        terminal interface and the provided hardware used to run tests. Also debugged said code
                        to ensure test results remained consistent and reliable.</li>
                    <li>Used GitHub to track versioning of the code base and perform routine
                        documentation/merging of maintenance code.</li>
                    <li>Worked as a lab assistant on the DEWAR vacuum sealed system for testing
                        photodetectors in harsh conditions similar to the environments they would be deployed
                        (outer space)</li>
                    <li>Took charge of maintenance and repair of the entire DEWAR system and detector chips
                        that could withstand the environment of space and deliver accurate data quickly</li>
                    <li>Aided in collecting data from tests run on the detectors and debugged issues associated
                        with data collection</li>
                </ul>
                <h2>PASSION PROJECTS</h2>
                <h3>Base Zero (3D FPS)</h3>
                <ul>
                    <li>Base Zero is a 3D first-person shooter made in Unity. As the team lead, I took on the role
                        of organizer, lead programmer, artist, and game designer to guide myself and 3 team
                        members through the development cycle of our game</li>
                    <li>Designed and programmed many of the major gameplay features such as player
                        inventory, a shop for the player to buy gear, and most aspects of PVE combat</li>
                    <li>As our team’s artist, I created and textured all of the 3D assets we used for the game in
                        addition to my other contributions to the project</li>
                </ul>
                <h3>Cyprian 3D Game Engine (C++ Game Engine)</h3>
                <ul>
                    <li>Programmed a game engine using OpenGL and C++ that could render textured models
                        using advanced 3D positioning and rotational orientation</li>
                    <li>Created a demo scene to showcase the engine that had working collision detection,
                        custom ambient occlusion, and a skybox</li>
                </ul>
                <h3>Just Force (Top Down Shooter)</h3>
                <ul>
                    <li>Just Force is a top-down shooter made using the Monogame framework in C#. As the
                        Lead System Architect & Programmer on a 4 person team, my responsibilities included
                        collision detection and handling, level saving and loading, and tracking player
                        progression through our level hierarchy. Also spent time contributing to the weapons and
                        menu systems</li>
                </ul>
            </div>
        </div>
    </div>
</div>