<div class="container">
    <div class="row pt-4">
        <div class="col-lg-7">
            <app-carousel-element inputIndex="4"></app-carousel-element>
        </div>
        <div class="col-lg-5">
            <app-carousel-bio-element gameTitle="Airborne Run" gameRole="ROLE: SOLO DEVELOPER"
                gameDesc="Airborne Run is a 2D side scrolling shooter made in The Unity game engine. This project was a quick project made in the vein of classic computer games to better familiarize myself with Unity’s 2D system. The player’s movement utilizes acceleration and velocity to give more weight to the player’s inputs, utilizing Unity’s inbuilt 2D collision detection and a sprite sheet for simple animation of the planes and explosions. Unity’s particle system is also used to create flak explosions that the player has to dodge. Enemy planes, flak and anti-aircraft fire are all created dynamically during the course of the game at random positions."
                destination="/game design"></app-carousel-bio-element>
        </div>
    </div>
</div>