<div class="container">
    <div class="row pt-4">
        <div class="col-lg-7">
            <app-carousel-element inputIndex="1"></app-carousel-element>
        </div>
        <div class="col-lg-5">
            <app-carousel-bio-element gameTitle="Unreal Engine 4 Demo" gameRole="ROLE: SOLO DEVELOPER/ARTIST"
                gameDesc="This Unreal Engine 4 Demo was created to test and demonstrate my use of the 3D modeling software Autodesk Maya, and the animation pipeline and blueprint system in Unreal Engine. For this project I designed a character and setting from the ground up with reference boards, color swatches, preliminary drawings and important story elements. I then modeled that character in Autodesk Maya and then used Mixamo software to auto rig a skeleton to it. Using earlier designs I created the setting and level layout for the demo in Unreal and then modeled all other visual assets for it. I attached the rigged character to Unreal’s animation system and imported an animation set used for a third person shooter. I then programmed all player controls and animation states for moving, stowing and drawing the weapon on the player and blended animations for seamless aiming movement."
                destination="/game design"></app-carousel-bio-element>
        </div>
    </div>
</div>