<div class="container-fluid" style="max-width: 1320px;" >
    <div class="row">
        <div class="col-lg-12 w-100 p-0" style="overflow: hidden;">
            <img src="../../../assets/images/site_bg.png" class="w-100 bg-image">
        </div>
    </div>
    <div class="row py-4" >
        <div class="col-lg-4 home-button" routerLink="game design">
            <app-icon-grid-element title="Game Design" iconSRC="bi bi-controller" desc="I make games"></app-icon-grid-element>
        </div>
        <div class="col-lg-4 home-button" routerLink="3d design">
            <app-icon-grid-element title="3D Design" iconSRC="bi bi-badge-3d" desc="I make 3D models"></app-icon-grid-element>
        </div>
        <div class="col-lg-4 home-button" routerLink="about">
            <app-icon-grid-element title="About Me" iconSRC="bi bi-person-circle" desc="I make therefore I am"></app-icon-grid-element>
        </div>
        
    </div>
</div>
