    <div>
        <H3 class="grid-text" style="white-space:pre-wrap;"><strong>{{gameTitle}}</strong></H3>
    </div>
    <div style="overflow: hidden; transform: translate3d(0px, 0px, 0px);">
        <div>
            <img style="cursor: pointer; width: 100%; height: 200px; object-position: 50% 50%; object-fit: cover;"
                data-image-focal-point="0.5,0.5" data-parent-ratio="1.8" class="grid_display"
                data-image-resolution="500w" src={{imageSRC}}>

        </div>

    </div>
    <hr style="width:100%; border: 0;border-top: 2px solid black;">
    <div>

        <p class="grid-text" style="white-space:pre-wrap;">{{gameDesc}}</p>
    </div>
