<div class="container">
    <div class="row pt-4">
        <div class="col-lg-7">
            <app-carousel-element inputIndex="2"></app-carousel-element>
        </div>
        <div class="col-lg-5">
            <app-carousel-bio-element gameTitle="Just Force" gameRole="ROLE: LEAD PROGRAMMER"
                gameDesc="I was the lead programmer on a team of 4 for a top down shooter Just Force made in Monogame using C# over the course of 4 months. I was responsible for the majority of gameplay programming and game engine features. I created a collision system using Axis Aligned Bounding Boxes to account for all entity collisions with the game world and to handle the projectiles fired by both the player and enemies. I coded all of the player’s features as well, including switching weapons, picking up ammo, reloading, using abilities, taking damage, and player death. I coded all of the menu management systems, level unlocking, selecting beaten levels, pause menu and settings for volume. Lastly I handled  level loading, saving, and creation using an external editor we created as a team."
                destination="/game design"></app-carousel-bio-element>
        </div>
    </div>
</div>