<div class="container">
    <div style="overflow:auto;" class="row pt-4">
        <div class="col-12">
            <h1 style="text-align: center; font-weight: 900;">Game Design</h1>
            <hr style="width:100%; border: 0;border-top: 2px solid black;">
        </div>
    </div>
    <div style="overflow: auto;" class="row">
        <div data-scrolled="true" class="col-lg-4 grid" routerLink="/basezero">
            <app-grid-element gameTitle="Base Zero" imageSRC="../../../assets/images/Base Zero/Screenshot_6.png"
                gameDesc="Scavenge, survive and escape a zombie infested military base in the first person shooter Base Zero. Featuring numerous customizable weapons and random objectives paths for fun replayability."></app-grid-element>
        </div>
        <div data-scrolled="true" class="col-lg-4 grid" routerLink="/ud4demo">
            <app-grid-element gameTitle="Unreal Engine 4 Demo" imageSRC="../../assets/images/Unreal_Demo/UD_8.png"
                gameDesc="Check a prototype of a third person shooter in this Unreal Engine 4 Demo. Made entirely with custom art assets, an atmospheric scene and even a rigged character interacting with the world."></app-grid-element>
        </div>
        <div data-scrolled="true" class="col-lg-4 grid" routerLink="/justforce">
            <app-grid-element gameTitle="Just Force" imageSRC="../../assets/images/justforce/JustForce_Thumbnail.png"
                gameDesc="Bring justice back to the streets of a lawless city in the top-down shooter Just Force. Fight a criminal gang through multiple parts of the city using a diverse arsenal of weapons."></app-grid-element>
        </div>
    </div>
        <div style="overflow: auto;" class="row pb-4">
            <div data-scrolled="true" class="col-lg-4 grid" routerLink="/asteroids">
                <app-grid-element gameTitle="Asteroids" imageSRC="../../assets/images/asteroids/Asteroids_Thumbnail.png"
                    gameDesc="Play through a faithful recreation of the classic game Asteroids with a colorful new twist. Now featuring multiple color options or even use a shifting rainbow color scheme."></app-grid-element>
            </div>
            <div data-scrolled="true" class="col-lg-4 grid" routerLink="/airbornerun">
                <app-grid-element gameTitle="Airborne Run" imageSRC="../../assets/images/airbornerun/AirborneRun_Thumbnail.png"
                    gameDesc="Take on the axis air force in Airborne Run. Shoot down as many enemy planes in this side scrolling schmup while dodging flak, anti-aircraft guns and enemy planes themselves."></app-grid-element>
            </div>
            <div data-scrolled="true" class="col-lg-4 grid" routerLink="/cgameengine">
                <app-grid-element gameTitle="C++ Game Engine" imageSRC="../../assets/images/engine/Game_Engine_Thumbnail.png"
                    gameDesc="A tech demo to show off model rendering, asset placement and collision detection of an engine I created using C++ and OpenGL."></app-grid-element>
            </div>
        </div>
    </div>
